*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #002329;
  background-image: url("./assets/images/blob.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow-x: clip;
}
@media screen and (min-width: 768px) {
  body {
    background-size: 75%;
  }
}
@media screen and (min-width: 1024px) {
  body {
    background-size: 50%;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .responsive-bl {
    display: none;
  }
}

header {
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  header {
    padding: 20px 5% 0;
  }
}
header nav {
  display: flex;
  justify-content: flex-end;
  height: inherit;
}
header nav ul {
  width: 220px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    width: 400px;
  }
}
header nav ul li {
  text-decoration: none;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #EBFAFA;
  font-size: 1.1rem;
}
@media screen and (min-width: 1024px) {
  header nav ul li a {
    font-size: 1.4rem;
  }
}

.intro-title {
  max-width: 90%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 6.5rem;
  color: #FEE7F1;
  line-height: 7rem;
  margin-top: 56px;
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .intro-title {
    font-size: 5.4rem;
    line-height: 5.8rem;
  }
}
@media screen and (min-width: 768px) {
  .intro-title {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .intro-title {
    font-size: 8.5rem;
    line-height: 9.1rem;
    width: 80%;
    padding-right: 20%;
    margin-top: 112px;
  }
}
.intro-title--accent {
  color: #F61379;
}
.intro-title--remark {
  font-weight: 800;
}

.about {
  width: 100%;
  background-image: url("./assets/images/big-circles.svg");
  background-repeat: no-repeat;
  background-size: calc(375px / 2);
  background-position-x: right;
  background-position-y: bottom;
  margin-top: 28px;
  padding-bottom: 136px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    background-size: 230px;
    padding-bottom: 200px;
    margin-top: 72px;
  }
}
.about .about-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: repeat(11, 1fr);
  gap: 0px 12px;
}
@media screen and (min-width: 768px) {
  .about .about-container {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .about .about-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .about .about-container {
    padding: 0 7.5%;
  }
}
.about .about-container--decoration-empty {
  background-image: url("./assets/images/empty-circles.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: 1/4/3/7;
}
@media screen and (min-width: 1024px) {
  .about .about-container--decoration-empty {
    transform: translateX(7.5%);
  }
}
.about .about-container--picture {
  display: flex;
  justify-content: flex-start;
  grid-area: 2/1/8/6;
}
.about .about-container--picture img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  width: 292px;
  height: 390px;
}
@media screen and (min-width: 768px) {
  .about .about-container--picture img {
    width: 351px;
    height: 468px;
  }
}
.about .about-container--bio {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), linear-gradient(0deg, rgba(0, 35, 41, 0.5), rgba(0, 35, 41, 0.5));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border-top: 5px solid #04BFBF;
  z-index: 10;
  padding: 32px 20px;
  grid-area: 6/2/12/6;
}
@media screen and (min-width: 768px) {
  .about .about-container--bio {
    grid-area: 6/3/12/7;
    max-width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .about .about-container--bio {
    grid-area: 5/3/9/7;
  }
}
.about .about-container--bio h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5.5rem;
  text-transform: lowercase;
  line-height: 5rem;
  color: #FEE7F1;
}
@media (min-width: 320px) and (max-width: 375px) {
  .about .about-container--bio h2 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .about .about-container--bio h2 {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .about .about-container--bio h2 {
    font-size: 7.5rem;
    line-height: 6.8rem;
  }
}
.about .about-container--bio h2 .section-title--accent {
  color: #F61379;
  padding-left: 48px;
}
.about .about-container--bio p {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #EBFAFA;
  margin-top: 32px;
  text-transform: initial;
}
@media screen and (min-width: 768px) {
  .about .about-container--bio p {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
}
.about .about-container--networks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1fr 0.5fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: ". line . ." ". line . ." ". . . ." ". icons icons .";
  grid-area: 7/1/12/2;
}
@media screen and (min-width: 768px) {
  .about .about-container--networks {
    grid-area: 8/1/12/3;
  }
}
@media screen and (min-width: 1024px) {
  .about .about-container--networks {
    grid-area: 3/3/5/6;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "line-h icons" ". icons";
  }
}
.about .about-container--networks--line {
  grid-area: line;
  border-right: 3px solid #FCE06F;
}
@media screen and (min-width: 1024px) {
  .about .about-container--networks--line {
    grid-area: line-h;
    border-bottom: 3px solid #FCE06F;
    border-right: 0;
  }
}
.about .about-container--networks--icons {
  grid-area: icons;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .about .about-container--networks--icons {
    flex-direction: row;
    justify-content: space-around;
  }
}
.about .about-container--networks--icons img {
  min-width: 32px;
}

.projects {
  background-image: url("../assets/images/empty-circles.svg");
  background-position-x: 2.5%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 162px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1024px) {
  .projects {
    background-size: 200px;
    padding-bottom: 100px;
  }
}
.projects-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.projects-container h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5.5rem;
  text-transform: lowercase;
  line-height: 5rem;
  color: #FEE7F1;
}
@media (min-width: 320px) and (max-width: 375px) {
  .projects-container h2 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .projects-container h2 {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .projects-container h2 {
    font-size: 7.5rem;
    line-height: 6.8rem;
  }
}
.projects-container h2 .section-title--accent {
  color: #F61379;
  padding-left: 48px;
}
@media screen and (min-width: 768px) {
  .projects-container {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .projects-container {
    margin-top: -128px;
  }
}
.projects-portfolio {
  width: 90%;
  margin: 32px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 160px);
  gap: 16px 16px;
  grid-template-areas: "latest-project latest-project" "project-1 project-2" "project-3 project-4";
}
@media screen and (min-width: 768px) {
  .projects-portfolio {
    width: 80%;
  }
}
.projects-portfolio > * {
  border-radius: 8px;
}
.projects-portfolio .latest-project {
  background-image: linear-gradient(137.08deg, #68B7C0 0%, #58A7B1 19.33%, #4798A2 38.65%, #358994 57.98%, #217A86 77.3%, #026C78 96.63%);
  grid-area: latest-project;
}
.projects-portfolio .project-1 {
  background-image: linear-gradient(137.08deg, #FA71AF 0%, #F0619F 19.33%, #E5518F 38.65%, #DB407F 57.98%, #D02C70 77.3%, #C50F61 96.63%);
  grid-area: project-1;
}
.projects-portfolio .project-2 {
  background-image: linear-gradient(137.08deg, #FDEA9F 0%, #FEE488 19.33%, #FEDD71 38.65%, #FDD758 57.98%, #FCD13C 77.3%, #FACB0F 96.63%);
  grid-area: project-2;
}
.projects-portfolio .project-3 {
  background-image: linear-gradient(137.08deg, #B668A3 0%, #A75692 19.33%, #984481 38.65%, #893271 57.98%, #7A1E61 77.3%, #6B0251 96.63%);
  grid-area: project-3;
}
.projects-portfolio .project-4 {
  background-image: linear-gradient(137.08deg, #68B7C0 0%, #58A7B1 19.33%, #4798A2 38.65%, #358994 57.98%, #217A86 77.3%, #026C78 96.63%);
  grid-area: project-4;
}

.skills {
  margin-top: 72px;
}
.skills h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5.5rem;
  text-transform: lowercase;
  line-height: 5rem;
  color: #FEE7F1;
  padding: 0 5%;
}
@media (min-width: 320px) and (max-width: 375px) {
  .skills h2 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .skills h2 {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .skills h2 {
    font-size: 7.5rem;
    line-height: 6.8rem;
  }
}
.skills h2 .section-title--accent {
  color: #F61379;
  padding-left: 48px;
}
@media screen and (min-width: 768px) {
  .skills h2 {
    padding: 0 15%;
  }
}
.skills .skills-container {
  width: 90%;
  margin: 32px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0px 16px;
  grid-template-areas: "skill-1 skill-2" "skill-3 skill-4" "skill-5 skill-6" "skill-7 skill-8" "skill-9 skill-10";
  align-items: center;
  justify-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .skills .skills-container {
    width: 80%;
    padding: 0 5%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "skill-1 skill-2 skill-3 skill-4" "skill-5 skill-6 skill-7 skill-8" "skill-9 skill-10 skill-11 skill-12";
    gap: 16px 32px;
  }
}
@media screen and (min-width: 1024px) {
  .skills .skills-container {
    margin-top: 0;
  }
}
.skills .skills-container .skill {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .skills .skills-container .skill {
    padding: 3.6rem;
  }
}
.skills .skills-container .skill svg.radial-progress {
  height: auto;
  max-width: 200px;
  transform: rotate(-90deg);
  width: 100%;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.12));
}
.skills .skills-container .skill svg.radial-progress circle {
  fill: transparent;
  stroke-dashoffset: 219.9114857513;
  /* Circumference */
  stroke-width: 10;
  stroke: #04BFBF;
}
.skills .skills-container .skill svg.radial-progress circle.incomplete {
  opacity: 0.25;
}
.skills .skills-container .skill svg.radial-progress circle.complete {
  stroke-dasharray: 219.9114857513;
  /* Circumference */
}
.skills .skills-container .skill img {
  max-height: 55px;
  max-width: 70px;
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill img {
    max-height: 42px;
    max-width: 53px;
  }
}
@media screen and (min-width: 1024px) {
  .skills .skills-container .skill img {
    max-height: 65px;
    max-width: 81px;
  }
}
.skills .skills-container .skill .label {
  margin-top: 8px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.skills .skills-container .skill .label .label-skill {
  color: #04BFBF;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .skills .skills-container .skill .label .label-skill {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
.skills .skills-container .skill .label .label-percentage {
  color: #EBFAFA;
  font-weight: 700;
  font-size: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .skills .skills-container .skill .label .label-percentage {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
  }
}
.skills .skills-container .skill-1 {
  grid-template-areas: "logo-1" "label-1";
  grid-area: skill-1;
}
.skills .skills-container .skill-1 .logo-1 {
  grid-area: logo-1;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-1 .logo-1 img {
  position: absolute;
}
.skills .skills-container .skill-1 .label-1 {
  grid-area: label-1;
}
.skills .skills-container .skill-2 {
  grid-template-areas: "logo-2" "label-2";
  grid-area: skill-2;
}
.skills .skills-container .skill-2 .logo-2 {
  grid-area: logo-2;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-2 .logo-2 img {
  position: absolute;
}
.skills .skills-container .skill-2 .label-2 {
  grid-area: label-2;
}
.skills .skills-container .skill-3 {
  grid-template-areas: "logo-3" "label-3";
  grid-area: skill-3;
}
.skills .skills-container .skill-3 .logo-3 {
  grid-area: logo-3;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-3 .logo-3 img {
  position: absolute;
}
.skills .skills-container .skill-3 .label-3 {
  grid-area: label-3;
}
.skills .skills-container .skill-4 {
  grid-template-areas: "logo-4" "label-4";
  grid-area: skill-4;
}
.skills .skills-container .skill-4 .logo-4 {
  grid-area: logo-4;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-4 .logo-4 img {
  position: absolute;
}
.skills .skills-container .skill-4 .label-4 {
  grid-area: label-4;
}
.skills .skills-container .skill-5 {
  grid-template-areas: "logo-5" "label-5";
  grid-area: skill-5;
}
.skills .skills-container .skill-5 .logo-5 {
  grid-area: logo-5;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-5 .logo-5 img {
  position: absolute;
}
.skills .skills-container .skill-5 .label-5 {
  grid-area: label-5;
}
.skills .skills-container .skill-6 {
  grid-template-areas: "logo-6" "label-6";
  grid-area: skill-6;
}
.skills .skills-container .skill-6 .logo-6 {
  grid-area: logo-6;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-6 .logo-6 img {
  position: absolute;
}
.skills .skills-container .skill-6 .label-6 {
  grid-area: label-6;
}
.skills .skills-container .skill-7 {
  grid-template-areas: "logo-7" "label-7";
  grid-area: skill-7;
}
.skills .skills-container .skill-7 .logo-7 {
  grid-area: logo-7;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-7 .logo-7 img {
  position: absolute;
}
.skills .skills-container .skill-7 .label-7 {
  grid-area: label-7;
}
.skills .skills-container .skill-8 {
  grid-template-areas: "logo-8" "label-8";
  grid-area: skill-8;
}
.skills .skills-container .skill-8 .logo-8 {
  grid-area: logo-8;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-8 .logo-8 img {
  position: absolute;
}
.skills .skills-container .skill-8 .label-8 {
  grid-area: label-8;
}
.skills .skills-container .skill-9 {
  grid-template-areas: "logo-9" "label-9";
  grid-area: skill-9;
}
.skills .skills-container .skill-9 .logo-9 {
  grid-area: logo-9;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-9 .logo-9 img {
  position: absolute;
}
.skills .skills-container .skill-9 .label-9 {
  grid-area: label-9;
}
.skills .skills-container .skill-10 {
  grid-template-areas: "logo-10" "label-10";
  grid-area: skill-10;
}
.skills .skills-container .skill-10 .logo-10 {
  grid-area: logo-10;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-10 .logo-10 img {
  position: absolute;
}
.skills .skills-container .skill-10 .label-10 {
  grid-area: label-10;
}
.skills .skills-container .skill-11 {
  grid-template-areas: "logo-11" "label-11";
  grid-area: skill-11;
}
.skills .skills-container .skill-11 .logo-11 {
  grid-area: logo-11;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-11 .logo-11 img {
  position: absolute;
}
.skills .skills-container .skill-11 .label-11 {
  grid-area: label-11;
}
.skills .skills-container .skill-12 {
  grid-template-areas: "logo-12" "label-12";
  grid-area: skill-12;
}
.skills .skills-container .skill-12 .logo-12 {
  grid-area: logo-12;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.skills .skills-container .skill-12 .logo-12 img {
  position: absolute;
}
.skills .skills-container .skill-12 .label-12 {
  grid-area: label-12;
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill-9 {
    grid-area: skill-10;
    grid-template-areas: "logo-10" "label-10";
  }
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill-9 .logo-9 {
    grid-area: logo-10;
  }
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill-9 .label-9 {
    grid-area: label-10;
  }
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill-10 {
    grid-area: skill-11;
    grid-template-areas: "logo-11" "label-11";
  }
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill-10 .logo-10 {
    grid-area: logo-11;
  }
}
@media screen and (min-width: 768px) {
  .skills .skills-container .skill-10 .label-10 {
    grid-area: label-11;
  }
}

.contact {
  width: 100%;
  margin-top: 136px;
  background-image: url(./assets/images/circle-stripes.svg);
  background-position-x: right;
  background-position-y: 20px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 72px;
    background-size: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    background-size: 200px;
  }
}
.contact h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5.5rem;
  text-transform: lowercase;
  line-height: 5rem;
  color: #FEE7F1;
  padding: 0 5%;
}
@media (min-width: 320px) and (max-width: 375px) {
  .contact h2 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .contact h2 {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1024px) {
  .contact h2 {
    font-size: 7.5rem;
    line-height: 6.8rem;
  }
}
.contact h2 .section-title--accent {
  color: #F61379;
  padding-left: 48px;
}
@media screen and (min-width: 768px) {
  .contact h2 {
    padding: 0 15%;
  }
}
.contact-container--form {
  width: 90%;
  margin: 32px auto 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), linear-gradient(0deg, rgba(0, 35, 41, 0.5), rgba(0, 35, 41, 0.5));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border-top: 5px solid #04BFBF;
  z-index: 10;
  padding: 32px 20px;
}
@media screen and (min-width: 768px) {
  .contact-container--form {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container--form {
    width: 60%;
    padding: 5%;
    margin-top: 72px;
  }
}
.contact-container--form .form-input :hover ~ {
  border: 2px solid #04BFBF;
}
.contact-container--form .form-input label {
  display: block;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #EBFAFA;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
.contact-container--form .form-input div {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.contact-container--form .form-input div .form-icon {
  display: inline-block;
  width: 50px;
  color: #EBFAFA;
  font-size: 15px;
  padding: 12px 10px;
  background: #04BFBF;
  transition: 0.3s;
  text-align: center;
  border-radius: 4px 0 0 4px;
}
.contact-container--form .form-input div input {
  width: 100%;
  min-height: 30px;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  border: 0;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
.contact-container--form .form-input div textarea {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
.contact-container--form .form .form-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact-container--form .form .form-button-container .submit-button {
  background: linear-gradient(137.08deg, #68B7C0 0%, #58A7B1 19.33%, #4798A2 38.65%, #358994 57.98%, #217A86 77.3%, #026C78 96.63%);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #EBFAFA;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  padding: 12px 48px;
  border: 0;
  border-radius: 4px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #17373C;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
}
footer p {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #EBFAFA;
}/*# sourceMappingURL=styles.css.map */