extend components/_template.pug
block content
    main
        h1.intro-title 
            <span class="intro-title--accent">Hi!</span><br class="responsive-bl">
            | 
            | I’m Gonza 
            | and I’m a 
            | <span class="intro-title--remark">frontend 
            | developer</span>
        section.about
            .about-container
                .about-container--decoration-empty
                figure.about-container--picture
                    img(src="./assets/images/profile-picture.jpg")
                .about-container--bio
                    h2.section-title#about-me  
                        | who <br>
                        <span class="section-title--accent">am I?</span>
                    p Enquiring mind, versatile and solutions-driven communicator with +8 years leading Network Operations team in ESPN. Improved workflows between Argentina, USA and Mexico and reduced duplicate work hours by 40%.
                    p Over 2 years of experience working as freelance web designer in LUKE. Currently fully transitioning into a Frontend Web Developer role while moving forward in Full Stack Web Development learning path in Platzi.
                    a(href="./download/resume.pdf" download="Alonso, Gonzalo - Resume.pdf" rel="noopener noreferrer").download-button Download Resume 
                .about-container--networks
                    .about-container--networks--line
                    .about-container--networks--icons
                        a(href="https://www.linkedin.com/in/gonzalonso" target="_blank" rel="noopener").fab.fa-linkedin-in.icon-social-network 
                        a(href="https://www.behance.net/gonzalonso" target="_blank" rel="noopener").fab.fa-behance.icon-social-network 
                        a(href="https://github.com/osnolaznog" target="_blank" rel="noopener").fab.fa-github.icon-social-network
                        a(href="https://codepen.io/gonzalonso" target="_blank" rel="noopener").fab.fa-codepen.icon-social-network
        section.projects 
            .projects-container
                h2.section-title#projects 
                    | Recent <br>
                    <span class="section-title--accent">projects</span>
            .projects-portfolio
                +newProject(
                    "1", 
                    "Purple Rain", 
                    "WordPress", 
                    "purple-rain", 
                    "Over 20 illustrators portfolios with multiple filters on a minimalist website based on WordPress.", 
                    "https://purplerainillustrators.com/", 
                    "social-media-icon", 
                    "fas fa-globe", 
                    "githubLink", 
                    "hidden", 
                    "fab fa-github", 
                    "https://www.behance.net/gallery/131540513/Purple-Rain-Illustrators",
                    "social-media-icon", 
                    "fab fa-behance", 
                    "figmaLink", 
                    "hidden", 
                    "fab fa-figma")
                +newProject(
                    "2", 
                    "Trading Mentor", 
                    "WordPress, WooCommerce", 
                    "trading-mentor", 
                    "E-learning & e-commerce platform. Integrated WooCommerce, Learning Dash & Ultimate Member plugins.",
                    "https://www.tradingmentor.com.au/", 
                    "social-media-icon", 
                    "fas fa-globe", 
                    "githubLink", 
                    "hidden", 
                    "fab fa-github", 
                    "https://www.behance.net/gallery/131605297/Trading-Mentor-Website-Logo",
                    "social-media-icon", 
                    "fab fa-behance", 
                    "figmaLink", 
                    "hidden", 
                    "fab fa-figma")
                +newProject(
                    "3", 
                    "Duvep", 
                    "WordPress, WooCommerce", 
                    "duvep", 
                    "E-commerce website based on WordPress. Integrates paygates and shipping plugins for Chile.",
                    "https://duvep.cl/", 
                    "social-media-icon", 
                    "fas fa-globe", 
                    "githubLink", 
                    "hidden",  
                    "fab fa-github", 
                    "https://www.behance.net/gallery/131543191/Duvep", 
                    "social-media-icon",
                    "fab fa-behance", 
                    "figmaLink", 
                    "hidden",  
                    "fab fa-figma")
                
        section.skills
            h2.section-title 
                | What <br>
                <span class="section-title--accent">I know</span>
            .skills-container
                +skills("html", 1, 100)
                +skills("css", 2, 100)
                +skills("pug", 3, 100)
                +skills("sass", 4, 100)
                +skills("javascript", 5, 100)
                +skills("wordpress", 6, 100)
                +skills("github", 7, 100)
                +skills("figma", 8, 100)
                +skills("photoshop", 9, 100)
                +skills("illustrator", 10, 100)

        section.contact
            .contact-container--title
                h2.section-title#contact 
                    | Let's work <br>
                    <span class="section-title--accent">together!</span>
            .contact-container--form
                form(action="/", method="post").form
                    .form-input
                        label(for="name") Name
                        .form-input--name
                            i.form-input--name-icon.form-icon.fas.fa-user                      
                            input(type="text", name="name", id="name", autocomplete="name",   inputmode="text", required="required", placeholder="Jane Doe")
                    .form-input
                        label(for="email") Email
                        .form-input--email
                            i.form-input--email-icon.form-icon.fas.fa-at
                            input(type="email", name="email", id="email", autocomplete="email",  inputmode="email", required="required", placeholder="jane@doe.com")
                            
                            
                    .form-input                        
                        label(for="phone") Phone
                        .form-input--phone
                            i.form-input--phone-icon.form-icon.fas.fa-phone-alt 
                            input(type="text", inputmode="decimal", pattern="\d+", name="phone", id="phone", placeholder="+1 (205) 555-5555" )
                                              
                    .form-input
                        label(for="message") Message 
                        .form-input--message
                            textarea(name="message", id="message" cols="30", rows="10", placeholder="Tell me about your project")

                    .form-button-container
                        input(type="button", value="SEND").submit-button