
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gonza Alonso | Welcome to my website!</title>
  <link rel="stylesheet" href="./scss/styles.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&amp;family=Poppins:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script src="./js/circle-skills.js"></script>
  <script src="./js/touch.js"></script>
  <script src="https://kit.fontawesome.com/8b918fc704.js" crossorigin="anonymous"></script>
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-79WF10XPSK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-79WF10XPSK');
  </script>
</head>