.about{
    width:100%;
    background-image:url('../assets/images/big-circles.svg');
    background-repeat:no-repeat;
    background-size: calc(375px / 2);
    background-position-x: right;
    background-position-y: bottom;
    padding-bottom:136px;

    .about-container {
        width: 90%;
        margin: 28px auto 0;
        position:relative;
        display: grid; 
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(11, 1fr); 
        gap: 0px 12px; 

        &--decoration-empty {
            background-image:url('../assets/images/empty-circles.svg');
            background-position: top right;
            background-repeat:no-repeat;
            background-size:contain;
            grid-area: 1 / 4 / 3 / 7;  
        }

        &--picture {
            display:flex;
            justify-content:flex-start;
            box-shadow: $fx-elevation-04;
            grid-area: 2 / 1 / 8 / 6; 
            width:278px;
            height: 438px;

            img {
                border-radius:8px;
                object-fit:cover;
                z-index:5;
            }
        }

        &--bio {
            @include blurred-container;
            grid-area: 6 / 2 / 12 / 7;;
            
            h2 {
                @include section-titles;
            }

            p {
                font-family: $font-secondary;
                font-size: $body;
                line-height:$lh-body;
                font-weight: $fw-regular;
                color:$primary-color-100;
                margin-top:32px;

            }
        }

        &--networks{
            display: grid; 
            grid-template-columns: repeat(4, 1fr); 
            grid-template-rows: 0.1fr 0.5fr 0.1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            ". . . ."
            ". line . ."
            ". . . ."
            ". icons icons ."; 
            grid-area: 8 / 1 / 12 / 2; 


            &--line{
                grid-area: line;
                border-right: 3px solid $terciary-color-300;
                
            }

            &--icons {
                grid-area: icons;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:space-between;

                img {
                    min-width:32px;
                }
            }
        }
    }
}






