.contact{
    width: 100%;
    margin-top:136px;
    background-image: url(./assets/images/circle-stripes.svg);
    background-position-x:right;
    background-position-y: 20px;
    background-repeat: no-repeat;
    @include media('>=tablet', 'screen'){
        margin-top:72px;
        background-size:150px;
    }

    @include media('>=desktop', 'screen'){
        background-size:200px;
    }

    h2 {
        @include section-titles;
        padding: 0 5%;

        @include media('>=tablet', 'screen'){
            padding:0 15%;
        }
    }

    &-container--form{
        width: 90%;
        margin: 32px auto 0;
        @include blurred-container;

        @include media('>=tablet', 'screen'){
            width:80%;
        }

        @include media('>=desktop', 'screen') {
            width: 60%;
            padding:5%;
            margin-top:72px;
        }

        .form {

            &-input {

                :hover ~ {
                    border:2px solid $primary-color-500;
                }
                
                label {
                    display:block;
                    margin-bottom:8px;
                    font-family:$font-main;
                    font-size:$label;
                    color:$primary-color-100;
                    text-transform:uppercase;
                    font-weight: $fw-medium;
                    letter-spacing:2px;
                }
                
                div {
                    display:inline-flex;
                    align-items:center;
                    width:100%;
                    margin-bottom:16px;

                    .form-icon {
                        display:inline-block;
                        width:50px;
                        color: $primary-color-100;
                        font-size: 15px;
                        padding: 12px 10px;
                        background:$primary-color-500;
                        transition: 0.3s;
                        text-align:center;
                        border-radius:4px 0 0 4px;
                    }
        
                    input {
                        width:100%;
                        min-height:30px;
                        border-radius:0 4px 4px 0;
                        padding: 10px;
                        border: 0;
                        outline:none;
                        font-family:$font-secondary;
                        font-size:$body;
                        font-weight:$fw-regular;
                    }

                    textarea {
                        width:100%;
                        border-radius:4px;
                        padding:10px;
                        outline:none;
                        font-family:$font-secondary;
                        font-size:$body;
                        font-weight:$fw-regular;
                    }
                }

            }

            .form-button-container{
                width:100%;
                display:flex;
                justify-content:flex-end;
                
                .submit-button{
                    background:$gradient-main;
                    box-shadow:$fx-elevation-02;
                    font-family:$font-main;
                    font-size:$body;
                    font-weight:$fw-medium;
                    color:$primary-color-100;
                    text-transform:uppercase;
                    letter-spacing:1.25px;
                    padding:12px 48px;
                    border:0;
                    border-radius:4px;
                }
            }
        }
    }
}



