header {
    width:100%;
    padding: 20px 20px 0;
    display:flex;
    justify-content: space-between;

    @include media('>=desktop', 'screen'){
        padding:20px 5% 0;
    }

    nav {
        display:flex;
        justify-content:flex-end;
        height:inherit;

        ul {
            width:220px;
            height:auto;
            display:flex;
            justify-content:space-between;
            align-items:center;

            @include media('>=desktop', 'screen'){
                width:400px;
            }

            li {
                text-decoration: none;
                list-style: none;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family:$font-main;
                    color: $primary-color-100;
                    font-size: 1.1rem;

                    @include media('>=desktop', 'screen'){
                        font-size:$body;
                    }
                }
            }
        }
    }
}
