.intro-title {
    max-width:90%;
    margin: 0 auto;
    font-family:$font-main;
    font-weight:$fw-semibold;
    font-size:$h1;
    color: $secondary-color-050;
    line-height:$lh-h1;
    margin-top: 56px;
    @include media('>=phone', '<=375px', 'screen') { 
        font-size: 5.4rem;
        line-height: 5.8rem;
    }
    @include media('>=tablet', 'screen'){
        width:80%;
    }

    @include media('>=desktop', 'screen'){
        font-size:8.5rem;
        line-height:9.1rem;
        width: 80%;
        padding-right: 20%;
        margin-top:112px;
    }

    &--accent {
        color:$secondary-color-500;
    }

    &--remark {
        font-weight:$fw-extrabold;
    }
}