@mixin elevation ($bg-elevation, $fx-elevation) {
    background-color: $bg-elevation;
    box-shadow: $fx-elevation;
}

@mixin blurred-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)),
    linear-gradient(0deg, rgba(0, 35, 41, 0.5), rgba(0, 35, 41, 0.5));
    backdrop-filter: blur(4px);
    box-shadow:$fx-elevation-08;
    border-radius:8px;
    border-top:5px solid $primary-color-500;
    z-index:10;
    padding: 32px 20px;
}

%h1-titles {
    font-size: $h1;
    font-family: $font-main;
}

@mixin section-titles {
    font-family:$font-main;
    font-size:$h2;
    text-transform:lowercase;
    line-height:$lh-h2;
    color:$secondary-color-050;
    @include media('>=phone', '<=375px') { 
        font-size: 4.5rem;
        line-height: 4rem;
    }
    @include media('>=tablet', 'screen') {
        padding: 0 5%;
    }

    @include media('>=desktop', 'screen'){
        font-size:7.5rem;
        line-height:6.8rem;
    }
    .section-title--accent {
        color:$secondary-color-500;
        padding-left:48px;
    }
}

@mixin new-skill ($skillNumber) {
    
    .skill-#{$skillNumber}{
        grid-template-areas: 
          ("logo-" + #{$skillNumber})
          ("label-" + #{$skillNumber});
        grid-area: (skill- + #{$skillNumber});
        
        .logo-#{$skillNumber}{
            grid-area: (logo- + #{$skillNumber});
            position: relative;
            display: flex;
            flex-flow: wrap;
            align-items: center;
            justify-content: center;

            img { 
                position:absolute;
            }
        }

        .label-#{$skillNumber} { 
            grid-area: (label- + #{$skillNumber});
        }
    }
}

.blurred {
    filter:blur(8px);
}

.hidden{
    display:none;
    visibility:hidden;
}