.skills{
    margin-top:72px;

    h2 {
        @include section-titles;
        padding: 0 5%;
    }

   .skills-container {
            width: 90%;
            margin: 32px auto 0;
            display: grid;
            grid-template-columns: 50% 50%; 
            gap: 0px 16px; 
            grid-template-areas: 
            "skill-1 skill-2"
            "skill-3 skill-4"
            "skill-5 skill-6"
            "skill-7 skill-8" 
            "skill-9 skill-10"; 
            align-items: center;
            justify-items: center;
            justify-content: center;

            .skill {
                display:grid;
                align-items:center;
                justify-items:center;
                padding: 1.6rem;


                svg.radial-progress {
                    height: auto;
                    max-width: 200px;
                    transform: rotate(-90deg);
                    width: 100%;
                    filter: drop-shadow(0px 1px 5px $shadow-key-umbra) drop-shadow(0px 2px 2px $shadow-key-penumbra) drop-shadow(0px 3px 1px $shadow-ambient-shadow);
                
                    circle {
                        fill: transparent;
                        stroke-dashoffset: 219.91148575129; /* Circumference */
                        stroke-width: 10;
                        stroke: $primary-color-500;
                
                        &.incomplete {
                            opacity: 0.25;
                        }
                
                        &.complete {
                            stroke-dasharray: 219.91148575129; /* Circumference */
                        }
                    }
                }

                img {
                    max-height: 55px;
                    max-width:70px
                }

                .label {
                    margin-top:8px;
                    text-align:center;
                    font-family: $font-secondary;            
                    
                    .label-skill {
                        color: $primary-color-500;
                        font-size: $body;
                        font-weight: $fw-bold;
                        text-transform:uppercase;    
                    }
                
                    .label-percentage {
                        color:$primary-color-100;
                        font-weight:$fw-bold;
                        font-size: $small;
                    }
                }
            }

            @include new-skill(1);
            @include new-skill(2);
            @include new-skill(3);
            @include new-skill(4);
            @include new-skill(5);
            @include new-skill(6);
            @include new-skill(7);
            @include new-skill(8);
            @include new-skill(9);
            @include new-skill(10);
    }
}